body,
html {
  background-color: bisque;
  /**sets the background image to scroll with the rest of the page**/
  background-attachment: fixed;
  height: 100%;
  width: 100%;
  margin: 20px;
}

img {
  height: 300px;
  width: 300px;
  padding: 20px;
  margin: 20px;
}

img:hover {
  opacity: 0.5;
}

h1 {
  text-align: center;
}

.lasagna {
  height: 300px;
  width: 300px;
  padding: 20px;
  margin: 20px;
}
